.App {
  margin-top: 50px;
}

.wrapper form {
  background-color: #2f80ed;
  color: white;
  padding: 20px 45px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.wrapper .quotation {
  padding: 20px 45px;
}

.wrapper {
  box-shadow: 0 0 5px;
  border-radius: 8px;
}
